<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.grey.app.goods.GoodsMapper">
  
  	<sql id="search_sql">
  		WHERE
			<choose>
		  		<when test="kind == 'v2'">"GOODS_CONTENT"</when>
		  		<when test="kind == 'v3'">"GOODS_CATEGORY"</when>
		  		<otherwise>"GOODS_NAME"</otherwise>
	  		</choose>
	  Like concat('%',#{search},'%')
  	</sql>
  	
  	<select id="getCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT("GOODS_NO") FROM "TB_GOODS"
  		<include refid="search_sql"></include>
  	</select>
  
  	<select id="list" resultMap="joinResult" parameterType="Pager">
  		SELECT * FROM "TB_GOODS" g
  		LEFT JOIN "TB_GOODSFILE" gf
  		USING ("GOODS_NO")
  		<include refid="search_sql"></include>
  		ORDER BY "GOODS_NO" DESC
  		Limit #{perPage} OFFSET #{startNum}
  	</select>
  	
  	<insert id="create" parameterType="GoodsDTO" useGeneratedKeys="true" keyProperty="goodsNo">
  		INSERT INTO "TB_GOODS"
		VALUES (
			DEFAULT,
			#{goodsName},
			#{goodsContent},
			#{goodsCategory},
			#{goodsRate}
		)
  	</insert>
  
   <insert id="createFile" parameterType="GoodsFileDTO">
   		INSERT INTO "TB_GOODSFILE"
		VALUES (DEFAULT, #{fileName}, #{oriName}, #{goodsNo})
	
   </insert>
  
  <select id="detail" parameterType="GoodsDTO" resultMap="joinResult">
		SELECT *
		FROM "TB_GOODS" n
			LEFT JOIN "TB_GOODSFILE" f
			USING ("GOODS_NO")
			WHERE "GOODS_NO"=#{goodsNo}
	</select>
	
	<resultMap type="GoodsDTO" id="joinResult">
		<id column="GOODS_NO" property="goodsNo"/>
		<result column="GOODS_NAME" property="goodsName"/>
		<result column="GOODS_CONTENT" property="goodsContent"/>
		<result column="GOODS_CATEGORY" property="goodsCategory"/>
		<result column="GOODS_RATE" property="goodsRate"/>
		
		<association property="goodsfileDTO" javaType="GoodsFileDTO">
			<id column="FILE_NO" property="fileNo"/>
			<result column="FILE_NAME" property="fileName"/>
			<result column="ORI_NAME" property="oriName"/>
		</association>
	</resultMap>
  
  
  
  
  
  
  
  </mapper>